.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


:root {
  --sectionOneBackgroundColor: cornflowerblue;
  --aboutTextColor: black;
  --aboutBackgroundColor: blanchedalmond;
  --sectionTwoBackgroundColor: white;
  --resumeBackgroundColor: var(--sectionOneBackgroundColor);
  --sectionThreeBackgroundColor: var(--aboutBackgroundColor)

  }

  /* NAV BAR */

.nav {
  background-color:var(--sectionOneBackgroundColor);
  color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  position: absolute;
  left: 40px;
  align-items: center;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  width: 100%
}

.nav-text-container{
  display: flex;
  margin-right: 40px
}

.nav-item {
  min-width: 100px;
  color:black;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.nav-item {
  color: bla;
  transition: all 0.3s;
  position: relative;
}
.nav-item span {
  transition: all 0.3s;
}
.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgb(0, 0, 0);
  transform: scale(0.1, 1);
}
.nav-item:hover span {
  letter-spacing: 2px;
}
.nav-item:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.nav-item:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/* TITLECARD */

.titlecard{
  font-size: 30px;
  position: absolute;
  top: -50px;
  font-weight: bold;
}

/* HOME PAGE */

.App-body {
  background-color: var(--sectionOneBackgroundColor);
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Avenir', 'Helvetica';

}

.hey {
  margin-top: 100px
}

#enterbutton{
  margin: 15px;
  cursor: pointer;
}

#enterbutton:hover{
  color:darkslategray
}

/* SECTIONS */
#two.section {
  color:black;
  background-color: var(--sectionTwoBackgroundColor);
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#three.section{
  background-color: var(--sectionThreeBackgroundColor);
  min-height: 200vh
}

/* ABOUT PAGE */

.about-page {
  color:var(--aboutTextColor);
  background-color: var(--aboutBackgroundColor);
  position: absolute;
  top: -100px;
  max-width: 80vw;
  min-height: 70vh;
  display: flex;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 100%;
}

.about-text-col {
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
  flex-basis: 40%;
}

.about-pic-col {
  margin: auto;
  flex-basis: 40%;
  max-height: 100vh;
  
}

.carousel-container{
  position:relative;
  height: 100%
}

.about-picture {
  max-width:100%;
  max-height: 60vh;
  margin: auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media (max-width:600px) {
  .about-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }

  .about-pic-col {
    min-height: 80vw
  }
}
#invisible {
  opacity: 0
}

#fadeIn
{
    animation: fadeIn ease-out;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

#fadeOut
{
  animation: fadeOut ease;
  animation-duration: 1.5s;
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 0
  }

}
.about-text-row {
  display:flex;
}
.bullet-col{
  width: 10px;
  text-align: left;
  margin: 0;
}

.bullet{
  font-weight: bold;
  font-size: x-large;
  width: 10px
}

.bullet-text{
  font-weight: bold;
  font-size: x-large
}

.bullet-text-col{
  flex:5
}

.icon-row{
  display:flex;
  justify-content: center;
}

.icon {
  width: 40px;
  margin: 20px
}

#Hive {
  color: #73a4f4;
  background-color: var(--aboutBackgroundColor);
}
#Axon {
  color: sandybrown;
  background-color: var(--aboutBackgroundColor);
}

#Phoenix {
  color:maroon;
  background-color: var(--aboutBackgroundColor);
}

/* RESUME PAGE */


.resume-title-card{
  position: absolute;
  top: -200px
}

.resume-page{
  min-height: 100vh;
  margin: 0;
  background-color: var(--sectionTwoBackgroundColor);
  position:absolute;
  bottom: -500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-row {
  display: flex;
  align-items: center
}
.education-card-img {
  max-width: 250px
}

.education-col {
  text-align: left;
  margin-left: 30px
}

.education-name {
  font-size: 30px
}
.education-bullet{

}

.education-year {
  text-align: left;
}

.education-gpa {
  text-align: left;
}

.education-classes {
  text-align: left;
}


.resume-row{
display: flex;
background-color: var(--sectionTwoBackgroundColor);
justify-content: space-evenly;

}

.resume-card-img{
  object-fit: cover;
  width:200px;
  height:250px; 
}
.resume-button-row{
  justify-content: center;
  padding: 0 0 30px 0
}


a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid dimgray;
  margin:0 30px 0.3em 30px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: dimgray;
  text-align:center;
  transition: all 0.15s;
}
a.button2:hover{
  color:var(--sectionOneBackgroundColor);
  border-color:var(--sectionOneBackgroundColor);
}
a.button2:active{
  color:var(--sectionOneBackgroundColor);
  border-color:var(--sectionOneBackgroundColor);
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto
 }
}




.projects-page {
  color:white;
  background-color: var(--sectionThreeBackgroundColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hobbies-page {
  color:white;
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



