.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


:root {
  --sectionOneBackgroundColor: cornflowerblue;
  --aboutBackgroundColor: white;
  --sectionTwoBackgroundColor: white;
  --resumeBackgroundColor: blanchedalmond;
  --sectionThreeBackgroundColor: blanchedalmond;
  --projectBackgroundColor: white;

  --homePageTextColor: white;
  --aboutTextColor: black;
  --resumeTextColor: black;
  --projectTextColor: black;
  }

  /* TEXT */
  #h1Text {
    font-family: 'Roboto','Avenir', 'Helvetica';
    font-size: 100px;
  }

  #h2Text{
    font-family: 'Roboto','Avenir', 'Helvetica';
    font-size: 50px
  }

  #h3Text{
    font-family: 'Roboto','Avenir', 'Helvetica';
    font-size: 25px
  }

  #h3SubtitleText{
    font-family: 'Roboto','Avenir', 'Helvetica';
    font-size: 18px
  }

  #pText{
    font-family: 'Roboto','Avenir', 'Helvetica';
    font-size: 15px
  }

  /* NAV BAR */

.nav {
  background-color:var(--sectionOneBackgroundColor);
  color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  position: absolute;
  left: 40px;
  align-items: center;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  width: 100%
}

.nav-text-container{
  display: flex;
  margin-right: 40px
}

.nav-item {
  min-width: 100px;
  color:black;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.nav-item {
  color: black;
  transition: all 0.3s;
  position: relative;
}
.nav-item span {
  transition: all 0.3s;
}
.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 0px;
  border-bottom-width: 1px;
  /* border-top-style: solid; */
  border-bottom-style: solid;
  /* border-top-color: rgba(255,255,255,0.5); */
  border-bottom-color: white;
  transform: scale(0.1, 1);
}
.nav-item:hover span {
  letter-spacing: 2px;
  font-size: large
}
.nav-item:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.nav-item:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/* SECTIONS */
#two.section {
  background-color: var(--sectionTwoBackgroundColor);
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#three.section{
  background-color: var(--sectionThreeBackgroundColor);
  padding-bottom: 50px;
  height: max-content;
  position: relative;
  justify-content:center;
  align-items: center;
  display: flex
}

#four.section {
  position:relative;
  display:flex;
  justify-content: center;
}

@media (max-width: 700px) {
  /* #two.section {
    min-height: 150vh
  } */
}


/* TITLECARD */

.titlecard{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px
}

#about{
  background-color: var(--sectionTwoBackgroundColor);
}

/* HOME PAGE */

.App-body {
  background-color: var(--sectionOneBackgroundColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.homePage{
  text-align: left
}

.hey {
  margin-top: 100px
}
.im-george {
}

.im-a{
  margin-top: 20px;
  margin-bottom: 20px;
}

#enterbutton{
  margin-top: 15px;
  margin-left: 0px;
  cursor: pointer;
  width: 120px
}

#enterbutton:hover{
  color:dimgray
}


/* ABOUT PAGE */

.about-page {
  color:var(--aboutTextColor);
  background-color: var(--aboutBackgroundColor);
  align-content: center;
  flex-direction: column;
  height: max-content;
  display: flex;
  height: max-content;
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.about-text-col {
  flex-direction: column;
  margin: auto;
  margin-right: 20px;
}

.about-pic-col {
  margin: auto;
  min-height: 60vh;
  
}

.carousel-container{
  position:relative;
  height: 100%
}

.about-picture {
  max-width:100%;
  max-height: 60vh;
  margin: auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media (max-width:600px) {
  .about-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }

  .about-pic-col {
    min-height: 80vw
  }
}
#invisible {
  opacity: 0
}

#fadeIn
{
    animation: fadeIn ease-out;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
  0% {
      display: none;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

#fadeOut
{
  animation: fadeOut ease;
  animation-duration: 1.5s;
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: block;
    opacity: 0
  }

}
.about-text-row {
  display:flex;
}

.about-short-text{
  color: dimgray;
}

.bullet{
  width: 10px
}


.bullet-text-col{
  flex:5
}

.icon-row{
  display:flex;
  justify-content: flex-start;
}

.icon {
  width: 40px;
  margin: 20px
}

#Hive {
  color: #73a4f4;
  background-color: var(--aboutBackgroundColor);
}
#Axon {
  color: sandybrown;
  background-color: var(--aboutBackgroundColor);
}

#Phoenix {
  color:maroon;
  background-color: var(--aboutBackgroundColor);
}

/* RESUME PAGE */


.resume-page{
  color: var(--resumeTextColor);
  height: max-content;
  margin: 0;
  background-color: var(--resumePageBackgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .education-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }
}

.education-row {
  background-color: var(--resumeBackgroundColor);
  display: flex;
  align-items: center;
  max-width: 75vw;
  margin-bottom: 70px
}

.education-card-img {
  max-width: 250px
}

.education-col {
  text-align: left;
  margin-left: 30px;
  padding-left: 30px;
  border-left: solid 1px ;
  border-color: dimgray
}

.education-name {
  font-size: 30px;
  border-bottom: solid 1px;
  border-color: dimgray

}


.education-year {
  text-align: left;
}

.education-gpa {
  text-align: left;
}

.education-classes {
  color: dimgray;
  text-align: left;
}


.resume-row{
display: flex;
width: 100%;
background-color: var(--resumeBackgroundColor);
justify-content: space-evenly;
border-top: solid 1px;
border-color: dimgray

}

.resume-card{
  background-color: var(--resumeBackgroundColor);
}

.resume-card-img{
  object-fit: cover;
  width:200px;
  height:250px; 
  background-color: var(--resumeBackgroundColor);
}

.resume-card-body{
  background-color: var(--resumeBackgroundColor);
}
.card-position{
}

.card-date{

  margin-top: 5px;
}

.card-description{
  color: dimgray;
}
.resume-button-row{
  justify-content: center;
  width: 100%;
  background-color: var(--resumeBackgroundColor);
  padding: 0 0 30px 0;
}


a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:2px solid dimgray;
  margin:0 30px 0.3em 30px;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: dimgray;
  text-align:center;
  transition: all 0.15s;
}
a.button2:hover{
  color:var(--sectionOneBackgroundColor);
  border-color:var(--sectionOneBackgroundColor);
}
a.button2:active{
  color:var(--sectionOneBackgroundColor);
  border-color:var(--sectionOneBackgroundColor);
}
@media all and (max-width:30em){
 a.button2{
  display:block;
  margin:0.4em auto
 }
}


/* Projects Page */

.projects-container-page {
  align-content: center;
  width: 100vw
}
.projects-page {
  color:var(--projectTextColor);
  background-color: var(--projectBackgroundColor);
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.project-title {
  font-size: x-large;
  border-bottom: solid 1px;
  width: 100%;
  text-align: left;
}



.project-row{
  display:flex;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
  margin-top: 20px;
}


@media (max-width:1000px) {
  .project-row{
    align-items: center;
    margin-top: 20px;
    padding: 0px
  }
}

.project-pic{
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  padding-right: 20px;
  border-right: solid 1px;
  border-color: dimgray;
}

.project-col{
  padding-left: 30px;
  text-align: left;
  flex-basis: 60%
}

.footer {
  color: cornflowerblue;
  margin-bottom: 30px
}

