.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Avenir', 'Helvetica';

}

.App-link {
  color: #61dafb;
}

#enterbutton{
  cursor: pointer;
}

#enterbutton:hover{
  color:gray
}

:root {
  --aboutBackgroundColor: black;
  }

.about-page {
  color:white;
  background-color: var(--aboutBackgroundColor);

}
.about-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly

}

@media (max-width:800px) {
  .about-row {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }
}

.about-row-col {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  flex-basis: 40%;
  padding: 20px;
  
}

#Hive {
  color: #73a4f4;
  background-color: var(--aboutBackgroundColor);
}
#Axon {
  color: yellow;
  background-color: var(--aboutBackgroundColor);
}

#Phoenix {
  color:maroon
}

#about-pic-col {
  display: flex;
  margin: 50px 0px;
}

.about-picture {
  width: 90%;
  margin: auto;
}

.slideshow-container {
  width: 50%;
  margin: auto;
}

.image-container {
  width: 100%;
}


.resume-page {
  color:white;
  background-color: darkkhaki;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-page {
  color:white;
  background-color: darkolivegreen;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hobbies-page {
  color:white;
  background-color: darkcyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


